extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li GET #[a(href="/api/recipes?sort=datePublished") /api/recipes[?sort=datePublished][&titlePattern=...]]
    li GET #[a(href="/api/recipes/5160756f96cc6207a37ff777") /api/recipes/:id]
    li POST #[a(href="/api/recipes/5160756f96cc6207a37ff777/comment") /api/recipes/:recipe_id/comment]
